<div class="container mt-3">
    <app-received-message *ngFor="let msg of messages" [receivedmessage]="msg"></app-received-message>
    <app-sent-message [sentMessage]="sampleSentMessage"></app-sent-message>
</div>
<div class="sticky-bottom">
    <div class="input-group bg-body-secondary px-5 py-3">
        <input type="text" class="form-control " placeholder="Enter your message here...">
        <button class="btn btn-primary" (click)="GetCurrentUser()"><i class="bi bi-send"></i></button>
    </div>
</div>