
<form>
    <div class="container">
        <div class="card p-3 m-5">
            <h1 class="text-center">Welcome Back!</h1>
            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="text" name="" id="" class="form-control"></div>
            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" name="" id="" class="form-control">
                <a class="btn btn-link" (click)="ChangeForm('forgotPassword')">Forgot password?</a>
            </div>
            <button class="btn btn-primary">Sign In</button>
            <p class="text-center" (click)="ChangeForm('signUp')">Don't have an account? <a class="btn-link">Sign up to start talking.</a></p>
        </div>
    </div>
</form>