<form>
    <div class="container">
        <div class="card p-3 m-5">
            <h1 class="text-center">Forgot Password?</h1>
            <p class="form-text">If there is an account with the email entered, we will send instructions on how to reset your password</p>
            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="text" name="" id="" class="form-control"></div>
            <button class="btn btn-primary">Reset Password</button>
            <a class="btn-link text-center" (click)="ChangeForm('signIn')">Return to login</a>
        </div>
    </div>
</form>