<div *ngIf="selectedForm == 'signIn'; else nonDefaultForms">
    <app-sign-in-form (changeForm)="ChangeSelectedForm($event)"></app-sign-in-form>
</div>

<ng-template #nonDefaultForms>
    <div *ngIf="selectedForm == 'signUp'; else forgotPasswordForm">
        <app-sign-out-form (changeForm)="ChangeSelectedForm($event)"></app-sign-out-form>
    </div>

    <ng-template #forgotPasswordForm>
        <app-forgot-password-form (changeForm)="ChangeSelectedForm($event)"></app-forgot-password-form>
    </ng-template>
</ng-template>

<!-- <app-aws-auth></app-aws-auth> -->