<form>
    <div class="container">
        <div class="card p-3 m-5">
            <h1 class="text-center">Join Us!</h1>
            <div class="mb-3">
                <label for="" class="form-label">Email</label>
                <input type="text" name="" id="" class="form-control"></div>
            <div class="mb-3">
                <label for="" class="form-label">Password</label>
                <input type="password" name="" id="" class="form-control">
            </div>
            <button class="btn btn-primary">Sign Up</button>
            <a class="btn-link text-center" (click)="ChangeForm('signIn')">Already have an account?</a>
        </div>
    </div>
</form>