<div id="wrapper">
    <div class="container">
        <div class="card p-3 m-5">
            <h1 class="text-center">Reset Password</h1>
            <form>
                <p class="form-text text-center">Check your inbox and junk folder for an email containing a reset code.</p>
                <div class="mb-3">
                    <label for="" class="form-label">Reset Code</label>
                    <input type="text" class="form-control" #resetCode>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Email</label>
                    <input type="email" class="form-control" #email>
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" #password>
                </div>
                <button class="btn btn-primary mb-3 w-100" (click)="ChangePassword(resetCode.value, email.value, password.value)">Reset Password</button>
            </form>
        </div>
    </div>
</div>